<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="resources/css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

</head>
<body>
    <h1>Pagina Inicio</h1>
    <h2> Listado de tablas</h2>
    <a href="logout">cerrar sesion</a>
    <center>
    <h2>Diagrama fisico - modelamiento dimensional (base de datos analitica - olap)</h2>
    <img src="resources/css/diagrama.jpg" alt="Imagen">
    </center>
    <h2> Listado de tablas</h2>
    <center>
    <div class="tablas">
        <table>
            <caption>Tabla maestra de ubicacion</caption>
            <thead>
            <tr>
                <th>territorio</th>
                <th>acronimo</th>
                <th>latitud</th>
                <th>longitud</th>
            </tr>
            </thead>
            <tbody>
            <% mdm_ubicacion.forEach(function(ubicacion) { %>
                <tr>
                <td><%= ubicacion.territorio %></td>
                <td><%= ubicacion.acronimo %></td>
                <td><%= ubicacion.latitud %></td>
                <td><%= ubicacion.longitud %></td>
                </tr>
            <% }); %>
            </tbody>
        </table>
        <table>
            <caption>Tabla maestra de tiempo</caption>
            <thead>
            <tr>
                <th>dia</th>
                <th>mes</th>
                <th>lapso</th>
                <th>dia_semana</th>
                <th>trimestre</th>
                <th>semestre</th>
            </tr>
            </thead>
            <tbody>
            <% mdm_tiempo.forEach(function(tiempo) { %>
                <tr>
                <td><%= tiempo.dia %></td>
                <td><%= tiempo.mes %></td>
                <td><%= tiempo.lapso %></td>
                <td><%= tiempo.dia_semana %></td>
                <td><%= tiempo.trimestre %></td>
                <td><%= tiempo.semestre %></td>
                </tr>
            <% }); %>
            </tbody>
        </table>
        <table>
            <caption>Tabla maestra de autor</caption>
            <thead>
            <tr>
                <th>nombre</th>
                <th>llave_de_fecha_nacimiento</th>
                <th>llave_nacionalidad</th>
            </tr>
            </thead>
            <tbody>
            <% mdm_autor.forEach(function(autor) { %>
                <tr>
                <td><%= autor.nombre %></td>
                <td><%= autor.fk_fecha_nacimiento %></td>
                <td><%= autor.fk_nacionalidad %></td>
                </tr>
            <% }); %>
            </tbody>
        </table>
        <table>
            <caption>Tabla maestra de editorial</caption>
            <thead>
            <tr>
                <th>nombre</th>
                <th>llave_de_ubicacion_editorial</th>
            </tr>
            </thead>
            <tbody>
            <% mdm_editorial.forEach(function(editorial) { %>
                <tr>
                <td><%= editorial.nombre_edictorial %></td>
                <td><%= editorial.fk_ubicacion_edictorial %></td>
                </tr>
            <% }); %>
            </tbody>
        </table>
        <table>
            <caption>Tabla contexto de genero literario</caption>
            <thead>
            <tr>
                <th>nombre</th>
            </tr>
            </thead>
            <tbody>
            <% ctx_genero_literario.forEach(function(genero_literario) { %>
                <tr>
                <td><%= genero_literario.nombre_genero %></td>
                </tr>
            <% }); %>
            </tbody>
        </table>
        <table>
            <caption>Tabla resumen de libro</caption>
            <thead>
            <tr>
                <th>isbn</th>
                <th>titulo</th>
                <th>precio</th>
                <th>cantidad</th>
                <th>llave_editorial</th>
                <th>llave_autor</th>
                <th>llave_genero_literario</th>
            </tr>
            </thead>
            <tbody>
            <% fact_libro.forEach(function(libro) { %>
                <tr>
                <td><%= libro.id %></td>
                <td><%= libro.titulo %></td>
                <td><%= libro.precio %></td>
                <td><%= libro.cantidad %></td>
                <td><%= libro.fk_editorial %></td>
                <td><%= libro.fk_autor %></td>
                <td><%= libro.fk_genero_literario %></td>
                </tr>
            <% }); %>
            </tbody>
        </table>
    </div>
</center>
<h2>Visualizador Google Map</h2>
<div id ="map" style="height: 400px; width: 100%;"> </div> 
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBCKiIqCdZGrVxx06LSbe7uG3zXOq1Cz5k&callback=initMap" async defer>
</script> 
<script> 
var map; 
function initMap() { 
    map = new google.maps.Map(document.getElementById('map'), { 
    center: {lat: 43.5293, lng: -5.6773}, 
    zoom: 13, }); 
    var marker = new google.maps.Marker({ 
    position: {lat: 43.5293, lng: -5.6773}, 
    map: map, 
    title: 'Acuario de Gijón' }); } 
</script> 

<h2>Graficos </h2>
<h1>Cantidad de libros que tiene cada pais respectivamente a la nacionalidad de cada autor </h1>
<canvas id="graficoCircular"></canvas>
<script>
    var keys = [];
    var values = [];
    <% for (const key in cantidadLibrosPorNacionalidad) { %>
        keys.push('<%= key %>');
        values.push(<%= cantidadLibrosPorNacionalidad[key] %>);
    <% } %>
    const datos = {
        labels: keys,
        datasets: [{
            label: 'Cantidad de libros',
            data: values,
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(54, 162, 235, 0.2)'
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(54, 162, 235, 1)'
            ],
            borderWidth: 1
        }]
    };

    // Configuración del gráfico
    const config = {
        type: 'doughnut',
        data: datos
    };

    // Crear instancia del gráfico circular
    var myChart = new Chart(
        document.getElementById('graficoCircular'),
        config
    );
</script>
<h1>Ganancias que obtiene las edictoriales por la venta total de los libros</h1>
<canvas id="bar-chart"></canvas>
<script>
    var keys1 = [];
    var values1 = [];
    <% for (const key in gananciasPorEditorial) { %>
        keys1.push('<%= key %>');
        values1.push(<%= gananciasPorEditorial[key] %>);
    <% } %>
    document.addEventListener('DOMContentLoaded', function() {
        const data = {
          labels: keys1,
          values: values1
        };
        const canvas = document.getElementById('bar-chart');
        const ctx = canvas.getContext('2d');

        canvas.width = 700;
        canvas.height = 500;

        const margin = 50;
        const graphWidth = canvas.width - 2 * margin;
        const graphHeight = canvas.height - 2 * margin;

        const maxValue = Math.max(...data.values);
        const yScale = graphHeight / maxValue;
        const xScale = graphWidth / data.values.length;

        const yInterval = Math.ceil(maxValue / 5); // Cambia este valor según tus necesidades

        ctx.beginPath();
        ctx.moveTo(margin, margin);
        ctx.lineTo(margin, canvas.height - margin);
        ctx.lineTo(canvas.width - margin, canvas.height - margin);
        ctx.stroke();

        for (let i = 0; i < data.labels.length; i++) {
            const xPos = margin + (i + 0.5) * xScale;
            const yPos = canvas.height - margin + 20;

            ctx.fillText(data.labels[i], xPos, yPos);
        }

        for (let i = 0; i <= maxValue; i += yInterval) {
            const xPos = margin - 30;
            const yPos = canvas.height - margin - i * yScale;

            ctx.fillText(i, xPos, yPos);
        }

        for (let i = 0; i < data.values.length; i++) {
            const value = data.values[i];
            const xPos = margin + i * xScale;
            const barWidth = xScale * 0.8;
            const barHeight = value * yScale;

            ctx.fillStyle = 'blue';
            ctx.fillRect(xPos, canvas.height - margin - barHeight, barWidth, barHeight);
        }})
    
</script>
</body>
</html>