<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="resources/css/style.css">

</head>
<body>
    <center>
    <h2>Login</h2>
    <div class="login-form">
        <form action="auth" method="POST">
            <label for="username">Usuario:</label><br>
            <input type="text" id="username" name="username"><br>
            <label for="password">Contraseña:</label><br>
            <input type="password" id="password" name="password"><br><br>
            <input type="submit" class="btn-login" value="Iniciar sesión">
        </form>
    </center>
    </div>
</body>
</html>