
body {
	user-select: none;
	overflow-y: hidden;
	display: block;
	justify-content: center;
	align-items: center;
	background: hsl(218deg 50% 91%);
	overflow-y: auto;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    width: 20%;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
.btn-login { 
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    width: 20%;
    display: inline-block;
    border: 1px solid #b61a1a;
    background-color: #b61a1a;
    color:#ccc;
    box-sizing: border-box;
    cursor: pointer; }

h1{
    text-align: center;
}

.tablas{
    flex-wrap: wrap;
    display: flex;
    width: 100%;
    margin: 0 auto;
    align-items: center; 
}

table {
    width: 45%;
    margin-left: 20px;
 }
 th, td {
    width: 25%;
    text-align: left;
    vertical-align: top;
    border: 1px solid #000;
    border-collapse: collapse;
    padding: 0.3em;
    caption-side: bottom;
 }
 caption {
    padding: 0.3em;
    color: #fff;
     background: #000;
 }
 th {
    background: #eee;
 }
html, body { 
    height: 100%; margin: 0; padding: 0; 
} 